/*body {
	font-family: 'helvetica';
}

audio {
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}

#mainHeader {
	text-align: center;
}

#processingContainer {
	margin: 0 auto;
	width: 600px;
	height: 600px;
	border: 2px solid;
}*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}

#head {
  width: 250px;
  padding-left: 25px;
  padding-right: 10px;
  display: inline-block;
  /*margin-right: 5px;*/
  padding-bottom: 8px;
  z-index: 23;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
}

#head h1 {
  margin-bottom: 0px;
}

#head p {
  margin-top: 0px;
  margin-bottom: 2px;
}

#search {
  padding: 3px;
  font-size: 15px;
  border: 1px solid #000000;
}

#name  {
  text-align: center;
  font-size: 50px;
  z-index: 5;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #ffffff;
}

#name a {
  color: #000000;
  text-decoration: none;
}

#band_info {
  padding: 0;
  margin-top: 0px;
  z-index: -1;
  width: 100%;
}

#image {
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#image img {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  /*top: 50%;
  transform: translateY(-50%);*/
}

#left {
  position: absolute;
  z-index: 21;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  padding-top: 0px;
  padding-left: 25px;
  top: 115px;
  width: 250px;
}

#g_title {
  margin-bottom: 0px;
}

#genres {
  list-style: none;
  padding-left: 10px;
  margin-top: 5px;
}

#tt_title {
  margin-bottom: 0px;
}

#tt_subtitle {
  margin-top: 1px;
  margin-bottom: 5px;
}

#nowPlaying {

}

#npTitle {
  margin-bottom: 5px;
}

#play {

}

#right {
  position: absolute;
  right: 0;
  width: 250px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
  padding-right: 20px;
  top: 0;
  overflow: scroll;
}

#ra_title {
  text-align: center;
  margin-bottom: 0px;
}

#ra {
  list-style: none;
  margin-top: 5px;
  padding-left: 5px;
}

.sm_circle {
  width: 60px;
  height: 60px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  vertical-align: center;
}

.follower_text {
  padding: 10px;
  height: 60px;
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,0.1)
}

.follower_text:hover {
  background-color: rgba(100, 100, 100, 0.4);
  cursor: pointer;
}

.follower_text span {
  vertical-align: middle;
  /*line-height: 70px;*/
  position: absolute;
  display: inline-block;
  padding-left: 10px;
  top: 40%;
}

.black {
  background-color: #000000;
  opacity: 0.6;
}

#albums {
  margin: 0 auto;
  width: 80%;
  /*padding-top: 100px;*/
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 20;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#albumT {
  display: block;
  width: 100%;
  text-align: center;
}

.album_container {
  perspective: 1000px;
  width: 300px;
  height: 366px;
  vertical-align: top;
  margin: 0 auto;
  display: inline-block;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.0);
}

.album_container_inner {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.album {
  width: 300px;
  vertical-align: top;
  margin: 0 auto;
  display: inline-block;
  margin-bottom: 20px;
  border: 1px solid rgba(0,0,0,0.3);
  background-color: #ffffff;
  backface-visibility: hidden;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

.album_back {
  vertical-align: top;
  margin: 0 auto;
  display: inline-block;
  margin-bottom: 20px;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}

.flip{
  transform: rotateY(180deg);
}

.album p {
  padding: 5px;
}

.album_id {
  display: none;
}

#tracks {
  list-style: none;
  padding-left: 10px;
  margin-top: 5px;
}

.track_text {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.track_text:hover {
  background-color: rgba(100, 100, 100, 0.4);
  cursor: pointer;
}

@media all and (max-width: 1349px) and (min-width: 1080px) {
  #albums {
    width: 80%;
  }
}

@media all and (max-width: 1079px) and (min-width: 720px) {
  #albums {
    width: 80%;
    margin: 0 auto;
  }
}

@media all and (max-width: 719px) {
  #albums {
    /*margin-top: 0px;*/
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    float: left;
    clear: both;
  }

  #head {
    width: 100%;
    /*text-align: center;*/
    padding: 0px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-top: 0px;
  }

  #title {
    margin-top: 0px;

  }

  .album {
    /*display: block;*/
    /*margin: 0 auto;*/
    margin-bottom: 20px;
  }

  #left {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 7.5vh;
    padding-left: 5px;
  }

  #right {
    position: relative;
    float: left;
    margin-top: 60px;
    width: 100%;
    height: 100%;
    overflow: visible;
    height: auto;
  }

  #image img {
    margin-top: 98px;
  }

  #name  {
    width: 100%;
    display: inline;
    position: absolute;
    font-size: 30px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

